maek-cache.json
objs/
spv/
bin/main
bin/main.exe
bin/main.pdb
bin/color-check.Plane.pnTt.b72
bin/color-check.s72
bin/env-cube.b72
bin/env-cube.lambertian.png
bin/env-cube.png
bin/env-cube.s72
bin/lights-Mix.Cap.pnTt.b72
bin/lights-Mix.Ground.pnTt.b72
bin/lights-Mix.s72
bin/lights-Mix.Steps.pnTt.b72
bin/lights-Mix.Stick-Sphere.pnTt.b72
bin/lights-Mix.Twist-Pillar.pnTt.b72
bin/lights-Parameters.s72
bin/lights-Parameters.Stone-Floor.pnTt.b72
bin/lights-Parameters.Tile-Floor.pnTt.b72
bin/lights-Spot-Shadows.Cube.pnTt.b72
bin/lights-Spot-Shadows.s72
bin/lights-Spot-Shadows.Sphere-Stone.pnTt.b72
bin/lights-Spot-Shadows.Sphere.pnTt.b72
bin/lights-Spot-Shadows.Stone-Floor-Small.pnTt.b72
bin/lights-Spot-Shadows.Tile-Floor-Small.pnTt.b72
bin/materials.Complicated.pnTt.b72
bin/materials.Cube.pnTt.b72
bin/materials.EnvironmentLabel.pnTt.b72
bin/materials.Icosphere.pnTt.b72
bin/materials.LambertianLabel.pnTt.b72
bin/materials.MirrorLabel.pnTt.b72
bin/materials.PBRLabel.pnTt.b72
bin/materials.Plane.pnTt.b72
bin/materials.s72
bin/materials.SimpleLabel.pnTt.b72
bin/origin-check.Corner.pnTt.b72
bin/origin-check.Plane.pnTt.b72
bin/origin-check.png
bin/origin-check.s72
bin/ox_bridge_morning.1.png
bin/ox_bridge_morning.2.png
bin/ox_bridge_morning.3.png
bin/ox_bridge_morning.4.png
bin/ox_bridge_morning.5.png
bin/ox_bridge_morning.lambertian.png
bin/ox_bridge_morning.png
bin/rotation.AroundX.pnTt.b72
bin/rotation.AroundY.pnTt.b72
bin/rotation.AroundZ.pnTt.b72
bin/rotation.s72
bin/sg-Articulation.Bracket.pnTt.b72
bin/sg-Articulation.Foot.pnTt.b72
bin/sg-Articulation.Link.pnTt.b72
bin/sg-Articulation.Plane.002.pnTt.b72
bin/sg-Articulation.Rounded-Cube.pnTt.b72
bin/sg-Articulation.s72
bin/sg-Articulation.Servo.pnTt.b72
bin/sg-Articulation.Turntable.pnTt.b72
bin/sg-Containment.Beam.pnTt.b72
bin/sg-Containment.Box.pnTt.b72
bin/sg-Containment.Carton.pnTt.b72
bin/sg-Containment.Room.pnTt.b72
bin/sg-Containment.s72
bin/sg-Containment.Table.pnTt.b72
bin/sg-Grouping.Blobby-Ground.pnTt.b72
bin/sg-Grouping.Green-Carton.pnTt.b72
bin/sg-Grouping.Purple-Carton.pnTt.b72
bin/sg-Grouping.Purple-Torus.pnTt.b72
bin/sg-Grouping.s72
bin/sg-Support.Cylinder.pnTt.b72
bin/sg-Support.Ground.pnTt.b72
bin/sg-Support.Rounded-Cube.pnTt.b72
bin/sg-Support.s72
bin/sg-Support.Torus.pnTt.b72
bin/sphereflake.s72
bin/sphereflake.Sphere-1.pnTt.b72
bin/sphereflake.Sphere-2.pnTt.b72
bin/sphereflake.Sphere-3.pnTt.b72
bin/sphereflake.Sphere-4.pnTt.b72
bin/sphereflake.Sphere-5.pnTt.b72
bin/sphereflake.Sphere-6.pnTt.b72
bin/sphereflake.Sphere-7.pnTt.b72
bin/sphereflake.Sphere.pnTt.b72
bin/stone_tiles_diff_1k.png
bin/stone_tiles_disp_1k.png
bin/stone_tiles_nor_gl_1k.png
bin/stone_tiles_rough_1k.png
bin/viewer.exe
bin/viewer.pdb
bin/wood_floor_deck_diff_1k.png
bin/wood_floor_deck_disp_1k.png
bin/wood_floor_deck_nor_gl_1k.png
bin/wood_floor_deck_rough_1k.png
lib/sejp.o
Lib/sejp.obj
/bin
